body{
	background-color: #CEF6F5;
	font-family: Times New Roman;
}

#container{
	margin-left:auto;
	margin-right:auto;
}

#header{
	background-color: #95F3F2;
	text-align: center;
	font-family: BankGothic Lt BT, French Script MT, Ariel;
	font-size:20;
}

#pic{
	width: 260px;
	margin-left:auto;
	margin-right:auto;
}

#desc{
	font-family: Times New Roman;
	font-size: 20;
}

#content{
	
}


h3{
	background-color:#77F5F1;
}

h4{
	background-color:#5499c7;
	color:white;
	font-family: Bradley Hand ITC, BankGothic Lt BT, helvetica;
	font-size:15;
}

#projects{
	font-size:20;
}

#edu{
	font-size:20;
}

#contact{
	font-size:20;
}

#footer{
	
	padding:10px;
	background-color:#999999;
	color:white;
	text-align:right;
}
