html{
	background: url(sunset1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Helvetica Neue', sans-serif;
}

.about{
	float: left;
	width: 15%;
	height: 22%;
	margin-right: 5%;
	margin-left: 7.5%;
	margin-top: 3%;
	text-align: center;
	background: rgba(0,0,0,0.0);
	padding:1%;
	color: white;
	
}

.about:hover{
	background: rgba(0,0,0,0.5);
}

.skills{
	float: left;
	width: 15%;
	height: 22%;
	margin-right: 5%;
	margin-top: 3%;
	text-align: center;
	background: rgba(0,0,0,0.0);
	padding:1%;
	color: white;
}

.skills:hover{
	background: rgba(0,0,0,0.5);
}


.info{
	width: 80%;
	height: 420px;
	background: rgba(0,0,2,0.2);
	padding: 3%;
	color: white;
	float: left;
	margin-left: 6%;
	margin-top: 4.2%;
	text-align: center;
}

.projects{
	width: 15%;
	height: 22%;
	background: rgba(0,0,0,0.0);
	padding: 1%;
	color: white;
	float: left;
	margin-right: 5%;
	margin-top: 3%;
	text-align: center;
}

.projects:hover{
	background: rgba(0,0,0,0.5);
}

.pic{
	border-radius: 50%;
}

h1{
	font-weight: 100;
	letter-spacing:5;
	font-size:175%;
	color:white;
}

h3{
	color:white;
}

h5{
	font-size: 80%;
}

p{
	font-weight: 200;
	letter-spacing:1;
	font-size: 100%;
}

.proj_icon{
	padding: 5%;
	font-size: 250%;
}

.proj_icon a{
	color: white;
}

.about_icon{
	padding: 5%;
	font-size: 250%;
}

.about_icon a{
	color: white;
}

.contacts{
	font-size: 180%;
	letter-spacing:5;
}

.contacts a{
	color: white;
}


	
